<% if current_user.nil? || current_user.admin == false  %>
<h1> You can't be here BRO</h1>
<% else %>
<h1> All Users of GoodMemes!</h1>
<ul>
  <% @users.each do |user| %>
    <li><%=  user.email %> &nbsp; <%= user.username %><div class={user.id}><%= link_to "Delete", archive_user_path(user), method: :post, id: "delete #{user.id}" %></div></br></p>
    </li>
  <% end %>
</ul>
<% end %>
