/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .top-bar a {
   color: white;
   font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
 }

 #responsive-menu {
   float: right;
 }

 h1 {
   text-align: center;
 }

 h3 {
   text-align: center;
 }

 .profile_photo {
   height: 150px;
   width: 150px;
   border-radius: 50%;
 }

 .profile_thumb {
   height: 40px;
   width: 40px;
   border-radius: 50%;
 }


 .menu {
   margin-top: 7px;
 }

 .top-bar-right img {
   height: 50px;
   width: 50px;
   border-radius: 50%;
   float: left;
   margin-top: 15px;
 }

 .logo {
   font-size: 2em;
   margin-left: 0.2em;
 }

 .dropdown {
   margin: 0.5em;
 }

 .navbar-link {
   display: inline-block;
   padding: 1em;
   text-align: center;
   margin: 0;
   background-color: #3C3C3C;
 }

 #main-page {
   display: inline-block;
   list-style: none;
   width: 100%;
   clear: both;
   overflow: auto;
   margin-left: 0.4%;
 }

 #main-list-items img {
   position: relative;
   float: left;
   width:  100px;
   height: 100px;
   background-position: 50% 50%;
   background-repeat:   no-repeat;
   background-size:     cover;
   margin: 0.5em;
   border-radius: 15px;
   box-shadow: 5px 5px #3C3C3C;
 }

 #new-cat {
   position: relative;
   float: left;
   width:  100px;
   height: 100px;
   background-position: 50% 50%;
   background-repeat:   no-repeat;
   background-size:     cover;
   margin: 0.5em;
   border-radius: 15px;
   box-shadow: 5px 5px #3C3C3C;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .meme_form {
   width: 20%;
   margin-left: auto;
   margin-right: auto;
 }

 .meme_show {
   position: relative;
   text-align: center;
 }

 .review_form {
   margin-left: auto;
   margin-right: auto;
   width: 35%;
   white-space: nowrap;
 }

 .categories_show {
   text-align: center;
 }

.user_form {
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}


#error_explanation h2 {
  color: red;
  font-size: 1em;
}

.reviews {
  list-style-type: none;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

#meme img {
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.review {
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: thin;
  margin: 2px;
  border-radius: 15px;
  background-color: #3C3C3C;
  color: white;
  overflow-wrap: break-word;
  display: table;
  width: 98%;
  min-width: 960px;
  table-layout: fixed;
}

.review-div {
  top: 20px;
  left: 3;
  width: 200px;
  float: left;
  display: table-cell;
  border: 1px solid #3C3C3C;
  border-radius: 15px;
}

.profile_container {
  float: left;
  position: absolute;
  top: 5%;
  left: 1%;
}

.meme-search{
  position: relative;
  float: left;
  width:  150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 0.5em;
  border-radius: 15px;
  box-shadow: 5px 5px #3C3C3C;
}

.search-results {
  display: inline-block;
  list-style: none;
  width: 100%;
  clear: both;
  overflow: auto;
  margin-left: 0.4%;
}

.category-results {
  position: relative;
  float: center;
  width: 30%;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5em;
  border-radius: 15px;
  box-shadow: 5px 5px #3C3C3C;
}

.base-img {
  border: 5px solid #3C3C3C;
  margin-bottom: 10px;
}

.meme-show {
  border: 5px solid #3C3C3C;
}

.thumb-pic {
  cursor: pointer;
}
