/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .body {
   margin: 0;
   padding: 0;
 }

 a {
   color: white;
 }
 ul {
   background-color: #3C3C3C;
   list-style-type: none;
 }
 li {
   background-color: #3C3C3C;
 }
 .container {
   padding: 0 auto;
 }

 .logo {
   font-size: 4ch;
 }

 .top-bar {
   position: relative;
   background-color: #3C3C3C;
 }

 .top-bar-section {
   float: right;
   margin: 0;
   position: absolute;
   transform: translateY(-50%);
   top: 50%;
   right: 1%;
   background-color: #3C3C3C;
   text-align: center;
 }

 .top-bar-section li {
   /*display: inline-block;*/
   padding: 0;
   text-align: center;
   margin-left: 0;
   margin-right: 0;
   background-color: #3C3C3C;
 }
