<div class="categories_show">
    <h1><%= @category.name %></h1>
<ul>
<% @memes.each do |meme| %>
  <a id="meme" href="/memes/<%= meme.id %>"><img src='<%= meme.img_url %>'></a>

<% end %>
</ul>

<%= render "memes/form" %>
</div>
